<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>动物</string>
		<key>content</key>
		<array>
			<string>狮子</string>
			<string>老虎</string>
			<string>大象</string>
			<string>狗</string>
			<string>猫</string>
			<string>老鼠</string>
			<string>熊猫</string>
			<string>狼</string>
			<string>长颈鹿</string>
			<string>豹</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>交通工具</string>
		<key>content</key>
		<array>
			<string>自行车</string>
			<string>电动车</string>
			<string>摩托车</string>
			<string>小轿车</string>
			<string>吉普车</string>
			<string>公交车</string>
			<string>警车</string>
			<string>救护车</string>
			<string>消防车</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>职位</string>
		<key>content</key>
		<array>
			<string>老师</string>
			<string>学生</string>
			<string>司机</string>
			<string>经理</string>
			<string>售票员</string>
			<string>工程师</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>动物</string>
		<key>content</key>
		<array>
			<string>狮子</string>
			<string>老虎</string>
			<string>大象</string>
			<string>狗</string>
			<string>猫</string>
			<string>老鼠</string>
			<string>熊猫</string>
			<string>狼</string>
			<string>长颈鹿</string>
			<string>豹</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>交通工具</string>
		<key>content</key>
		<array>
			<string>自行车</string>
			<string>电动车</string>
			<string>摩托车</string>
			<string>小轿车</string>
			<string>吉普车</string>
			<string>公交车</string>
			<string>警车</string>
			<string>救护车</string>
			<string>消防车</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>职位</string>
		<key>content</key>
		<array>
			<string>老师</string>
			<string>学生</string>
			<string>司机</string>
			<string>经理</string>
			<string>售票员</string>
			<string>工程师</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>动物</string>
		<key>content</key>
		<array>
			<string>狮子</string>
			<string>老虎</string>
			<string>大象</string>
			<string>狗</string>
			<string>猫</string>
			<string>老鼠</string>
			<string>熊猫</string>
			<string>狼</string>
			<string>长颈鹿</string>
			<string>豹</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>交通工具</string>
		<key>content</key>
		<array>
			<string>自行车</string>
			<string>电动车</string>
			<string>摩托车</string>
			<string>小轿车</string>
			<string>吉普车</string>
			<string>公交车</string>
			<string>警车</string>
			<string>救护车</string>
			<string>消防车</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>职位</string>
		<key>content</key>
		<array>
			<string>老师</string>
			<string>学生</string>
			<string>司机</string>
			<string>经理</string>
			<string>售票员</string>
			<string>工程师</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>动物</string>
		<key>content</key>
		<array>
			<string>狮子</string>
			<string>老虎</string>
			<string>大象</string>
			<string>狗</string>
			<string>猫</string>
			<string>老鼠</string>
			<string>熊猫</string>
			<string>狼</string>
			<string>长颈鹿</string>
			<string>豹</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>交通工具</string>
		<key>content</key>
		<array>
			<string>自行车</string>
			<string>电动车</string>
			<string>摩托车</string>
			<string>小轿车</string>
			<string>吉普车</string>
			<string>公交车</string>
			<string>警车</string>
			<string>救护车</string>
			<string>消防车</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>职位</string>
		<key>content</key>
		<array>
			<string>老师</string>
			<string>学生</string>
			<string>司机</string>
			<string>经理</string>
			<string>售票员</string>
			<string>工程师</string>
		</array>
	</dict>
</array>
</plist>
